
.header {
  background-color: cyan;
  width: 100%;
  height: 70px;
}

div {
  color: rgb(223, 28, 28);
  text-align: center;
}
.container {
  min-height: 100%;
  padding-bottom: 90px;
}

.section {
  height: 66vh;
  float: left;
}
.sekcion {
  box-sizing: border-box;
  padding-bottom: 90px;
  height: 100%;
}

.too {
  background-color: brown;
  width: 40%;
  padding-bottom: 100px;
  
}
.one,
.three {
  background-color: chartreuse;
  width: 30%;
  padding-bottom: 100px;
}
.footer {
  
  background-color: cyan;
  clear: both;
  width: 100%;
  height: 100px;
}
