<div>
    <form id="sendPost" encrtype="multipart/form-data">
       <div >
        <div>
            <span>Title: </span> <input class="form-input-card" type="text" name="title" >
            
        </div>
        <div>
            <span>Description:</span>   <input class="form-input-card" type="text" name="description" >
    </div>
        <div>
            <input class="button-card" type="file" name="image" accept=".gif,.jpg,.jpeg,.png">
        </div>
        
       </div>
        
        <button  class="button-card" type="submit">Send</button>
    </form>
    </div>
    <div style="display: flex; flex-wrap: wrap;" id="postContainer"></div>

        
    